.error-banner {
    @apply alert alert-error fixed bottom-0 drop-shadow-lg;
    left: 50%;
    width: 36%;
    transform: translate(-50%, -2rem);
}

.error-banner-offline {
    width: 36%;
}

.error-banner-unexpected {
    width: 32%;
}

.error-message {
    display: table;
    margin: auto auto;
}
