.error-banner {
    @apply alert alert-error fixed bottom-0 drop-shadow-lg;
    width: 35%;
    left: 50%;
    transform: translate(-50%, -2rem);
}

.error-message {
    display: table;
    margin: auto auto;
}
