.btn-send {
    box-shadow: none;
    display: block;
    margin: auto;
}

.btn-send:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.svg-paper-airline {
    @apply text-primary w-6 h-6;
}
